<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{title}}
  </title>
  {% if description %}
  <meta name="description" content="{{description}}"/>
  {% endif %}
  {% block head %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="/fx-demos/static/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="/fx-demos/static/css/site.css"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
  {% if prism == true %}
  <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
  {% endif %}
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <script src="/fx-demos/static/js/site.js"></script>
  <script src="https://unpkg.com/@optimizely/optimizely-sdk@5.0.0-beta2/dist/optimizely.browser.umd.min.js"></script>
</head>
<body>
  <div x-data="{ userDetails: $store.user}">
    <div :class="userDetails.mobileUser === true ? 'smartphone' : ''">
      <div class="content">
        <div class="frame">
          <div class="framedContent" x-data="$store.sdkReady">  
            {% include "./partials/navbars/navbar-flowbite.html" %}
            <!-- Show user-id banner -->
            <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
              <p class="text-sm">Viewing experience as <strong><code x-text="userDetails.uid"></code></strong> </p>
            </div>
            <div 
            id="informational-banner" 
            tabindex="-1" 
            x-cloak
            x-show="!isLoaded"
            class="fixed left-0 z-50 flex flex-col justify-between w-full p-4 border-b border-gray-200 md:flex-row bg-red-600 dark:border-gray-600">
            <div class="mb-4 md:mb-0 md:mr-4">
              <h2 class="mb-1 text-base font-semibold text-white">In order to interact with Feature experimentation enter your SDK key by selecting Details on the top right.</h2>
            </div>
          </div>
          {{ content | safe }}
          <script src="/fx-demos/static/js/alpine.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
          
          {% if path == "home" %}
          <!-- Netlify Identity Widget -->
          <!-- Needed only if you are using Netlify Identity feature -->
          <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
          {% endif %}
          
        </body>
        {% include "./partials/footer.html" %}
      </div>
    </div>
  </div>
</div>
</div>
</html>