---
layout: default
title: Credit Cards
path: credit-cards
---
<script>
  function intializeAttributes(user) {
    initializeUserAttribute(user, 'existingCardholder', 'false', localStorage.getItem('existing_cardholder'));
    initializeUserAttribute(user, 'flexCardholder', 'false', localStorage.getItem('flex_cardholder'));
  }

</script>
{% include "./_includes/partials/title.html" %}
<div class="container mx-auto flex flex-col justify-center items-center">
  <template x-teleport="#flagUserSection">
    <div x-data="{ user: $store.user} " x-init="intializeAttributes(user);">
      <div
          class="md:flex md:items-center mb-3">
          <div
              x-init="$watch('user.existingCardholder', (val) => user.updateLocalStorage('existing_cardholder', val))">
              <label class="relative inline-flex items-center cursor-pointer">
              <input 
                  x-model="user.existingCardholder" 
                  class="sr-only peer"
                  type="checkbox" 
                  x-bind:checked="user.existingCardholder == 'true'"
                  name="existingCardholderId" 
                  id="existingCardholderId">
              <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
              <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Existing Cardholder</span>
              </label>
          </div>
      </div>
      <div
          class="md:flex md:items-center mb-3">
          <div
              x-init="$watch('user.flexCardholder', (val) => user.updateLocalStorage('flex_cardholder', val))">
              <label class="relative inline-flex items-center cursor-pointer">
              <input 
                  x-model="user.flexCardholder" 
                  class="sr-only peer"
                  type="checkbox" 
                  x-bind:checked="user.flexCardholder == 'true'"
                  name="flexCardholderId" 
                  id="flexCardholderId">
              <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
              <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Flex Cardholder</span>
              </label>
          </div>
          <div
            class="pb-5">
            <img src="/static/img/qr-codes/qr-code-creditcard.png">
        </div>
      </div>
    </div>
  </template>
  {% include "./_includes/partials/creditcardlisting.html" %}
</div>