---
layout: default
title: Lead Form
path: lead-form
---
<script>
  function intializeAttributes(user) {
    initializeUserAttribute(user, 'referer', '', localStorage.getItem('referer'));
    initializeUserAttribute(user, 'industry', '', localStorage.getItem('industry'));
  }

  function getSequence(seq, card) {
    return "order-" + seq[card];
  }

  function showForm(
    clientVersion,  
    userData,
    flagKey,
    formStyle) {
      if (flagKey === '') {
        userData.askForEmail = true;
        userData.askForPhone = false;
        userData.showPlaceHolders = true;
        return formStyle == 'wizard';
      }
      
      var ua = { 
        user_id: userData.uid, 
        region_state: userData.regionState,
        is_mobile_user: userData.mobileUser === true,
        referer: userData.referer,
        industry: userData.industry,
      };

      var uc = getUserContext(userData, ua);

      if (uc != null) {
        var decision = uc.decide(flagKey);

        if (decision == null && formStyle == 'wizard') {
            return true;
        }

        if (decision != null && decision.variables["form_style"] == formStyle) {
            userData.askForEmail = decision.variables["ask_for_email"];
            userData.askForPhone = decision.variables["ask_for_phone"];
            userData.sequence = decision.variables["sequence"];
            return true;
        }

        return false;
      }
  }

</script>
{% include "./_includes/partials/title.html" %}
<div class="container mx-auto">
  <template x-teleport="#flagUserSection">
    <div x-data="{ user: $store.user} " x-init="intializeAttributes(user);">
        <div
            class="pb-5"
            x-init="$watch('user.referer', (val) => user.updateLocalStorage('referer', val))">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Referer</label>
            <input 
                x-model="user.referer" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                type="text" 
                name="referer" 
                id="referer">
        </div>
        <div
            class="pb-5"
            x-init="$watch('user.industry', (val) => user.updateLocalStorage('industry', val))">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Industry</label>
            <input 
                x-model="user.industry" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                type="text" 
                name="industry" 
                id="industry">
        </div>
        <div
            class="pb-5">
            <img src="/static/img/qr-codes/qr-code-leadform.png">
        </div>
    </div>
  </template>
</div>
<div x-data="$store.optiSdk" class="body-bg">
  <div x-data="{ userData: $store.user }">
      <template x-if="showForm(
            clientVersion, 
            userData,
            'lead_form',
            'cards')"
          >
  {% include "./_includes/partials/lead-forms/cards.html" %}
  </div>
  <div x-data="{ userData: $store.user }">
      <template x-if="showForm(
            clientVersion, 
            userData,
            'lead_form',
            'wizard')"
          >
  {% include "./_includes/partials/lead-forms/wizard.html" %}
  </div>
</div>