---
layout: default
title: Health Subscriptions
path: subscriptions
---
<script>
  function intializeAttributes(user) {
    initializeUserAttribute(user, 'existingCardholder', 'false', localStorage.getItem('existing_cardholder'));
    initializeUserAttribute(user, 'flexCardholder', 'false', localStorage.getItem('flex_cardholder'));
  }

</script>
{% include "./_includes/partials/title.html" %}
<div class="container mx-auto flex flex-col justify-center items-center">
  {% include "./_includes/partials/subscriptionselector.html" %}
</div>